.App {
  text-align: center;
}
body{
  background-color: white!important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
.mapouter{position:relative;text-align:right;height:500px;width:600px;}
.gmap_canvas {overflow:hidden;background:none!important;height:450px;width:100%;}
  
.heart-checkbox{
  width: 30px!important;
  height: 30px!important;
  background-color:#E6E6E6!important;
  box-shadow: none!important;
}
.heart-checkbox::before{
  width: 30px!important;
  height: 30px!important;
  background-color:#E6E6E6!important;
  right:15px!important;
}
.heart-checkbox::after{
  width: 30px!important;
  height: 30px!important;
  background-color:#E6E6E6!important;
  bottom:15px!important;
}
.heart-checkbox.checked{
  background-color:#e2264d!important;
}
.heart-checkbox.checked::before{
   background-color:#e2264d!important;
}
.heart-checkbox.checked::after{
   background-color:#e2264d!important;
}
.outside-img{
  display: flex;
  justify-content: center;
  margin: 0;
}